@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* This makes it so iPhones don’t dork up the font size in landscape mode */
  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    overflow-y: scroll;
    font-size: 16px;
  }

  body {
    width: 100%;
    min-height: 100svh;
    /* below is informative */
    /* min-height: 100vh; */
    margin: 0 auto;
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    font-family: var(
      --nc-font-sans,
      'Inter',
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      'Open Sans',
      'Helvetica Neue',
      sans-serif,
      'Apple Color Emoji',
      'Segoe UI Emoji',
      'Segoe UI Symbol'
    );
    font-size: 1rem;
    line-height: 1.5;
    /* overflow-x: hidden; This is not compatible with sticky */
    word-break: break-word;
    overflow-wrap: break-word;
  }

  h1,
  h2,
  h3 {
    border-bottom: 1px solid hsl(var(--foreground) / 0.1);
    font-weight: bold;
  }

  h4,
  h5,
  h6 {
    margin-bottom: 0.3rem;
  }

  h1 {
    font-size: 2.25rem;
  }

  h2 {
    font-size: 1.85rem;
  }

  h3 {
    font-size: 1.55rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1rem;
  }

  h6 {
    font-size: 0.875rem;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  p,
  pre,
  figcaption,
  blockquote,
  dl,
  dd,
  li {
    text-wrap: pretty;
  }

  :target {
    scroll-margin-block: 1em;
  }

  a:hover {
    color: hsl(var(--blue));
  }

  abbr:hover {
    cursor: help;
  }

  blockquote {
    padding: 1.5rem;
    background: hsl(var(--foreground) / 0.1);
    border-left: 5px solid hsl(var(--foreground) / 0.1);
  }

  blockquote *:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  code,
  pre,
  kbd,
  samp {
    font-family: var(
      --nc-font-mono,
      Consolas,
      monaco,
      'Ubuntu Mono',
      'Liberation Mono',
      'Courier New',
      Courier,
      monospace
    );
  }

  code,
  samp,
  kbd,
  pre {
    background: hsl(var(--foreground) / 0.1);
    border: 1px solid hsl(var(--foreground) / 0.1);
    border-radius: 4px;
    padding: 3px 6px;
    font-size: 0.9rem;
  }

  kbd {
    border-bottom: 3px solid hsl(var(--foreground) / 0.1);
  }

  pre {
    padding: 1rem 1.4rem;
    max-width: 100%;
    overflow: auto;
  }

  pre code {
    background: inherit;
    font-size: inherit;
    color: inherit;
    border: 0;
    padding: 0;
    margin: 0;
  }

  details {
    padding: 0.6rem 1rem;
    background: hsl(var(--foreground) / 0.1);
    border: 1px solid hsl(var(--foreground) / 0.1);
    border-radius: 4px;
  }

  summary {
    cursor: pointer;
    font-weight: 700;
  }

  details[open] {
    padding-bottom: 0.75rem;
  }

  details[open] summary {
    margin-bottom: 6px;
  }

  details[open] > *:last-child {
    margin-bottom: 0;
  }

  dt {
    font-weight: 700;
  }

  dd:before {
    content: '→ ';
  }

  hr {
    border: 0;
    border-bottom: 1px solid hsl(var(--foreground) / 0.1);
    margin: 1rem auto;
  }

  fieldset {
    margin-top: 1rem;
    padding: 2rem;
    border: 1px solid hsl(var(--foreground) / 0.1);
    border-radius: 4px;
  }

  legend {
    padding: auto 0.5rem;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  td,
  th {
    border: 1px solid hsl(var(--foreground) / 0.1);
    text-align: left;
    padding: 0.5rem;
  }

  th {
    background: hsl(var(--foreground) / 0.1);
  }

  tr:nth-child(2n) {
    background: hsl(var(--foreground) / 0.1);
  }

  table caption {
    font-weight: 700;
    margin-bottom: 0.5rem;
  }

  mark {
    padding: 3px 6px;
    background: hsl(var(--foreground) / 0.1);
    color: var(--foreground);
  }

  /* Tokens */
  :root {
    --space-xs: 0.5rem;
    --space-s: 1rem;
    --space-m: 2rem;

    --duration-link: 100ms;
    --duration-link-hover: 75ms;

    --mw-document: 800px;
    --p-separation: 96px;
    --p-header-bottom: 16px;

    /* Colors */
    --background: 0 0% 100%;
    --foreground: 240 10% 4%;

    --black: 0 0% 0%;
    --white: 0 0% 100%;
    --blue: 219 100% 40%;

    /* Additional Tokens */
    --nc-font-sans: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, 'Apple Color Emoji',
      'Segoe UI Emoji', 'Segoe UI Symbol';
    --nc-font-mono: Consolas, monaco, 'Ubuntu Mono', 'Liberation Mono', 'Courier New', Courier,
      monospace;
  }

  /* Dark Theme Tokens */
  .dark {
    --background: 240 10% 4%;
    --foreground: 0 0% 98%;
  }

  @media (prefers-reduced-motion: reduce) {
    :root {
      --duration-link: 5ms;
      --duration-link-hover: 5ms;
    }
  }

  /* .header {
    view-transition-name: header;
    contain: layout;
  } */

  .header-inner {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: var(--p-header-bottom);
  }

  .body {
    display: flex;
  }

  .u-center {
    max-width: var(--mw-document);
    margin: 0 auto;
  }

  .page {
    max-width: var(--mw-document);
    margin: 0 auto;
    width: 100%;
    :where(h1):first-child {
      margin-top: 0;
    }
  }

  .md-content {
    :where(h1, h2, h3, h4, p, figure, blockquote, pre, dl, dd, ul, ol) {
      margin-top: 1em;
    }

    :where(ul, ol) {
      padding-inline-start: 1em;

      :where(ul, ol) {
        margin-top: 0;
      }
    }

    :where(ul) {
      list-style-type: initial;
    }

    :where(ol) {
      list-style-type: decimal;
    }

    :where(li) :where(p:first-child) {
      margin: 0;
    }
  }
}

/* Example of a custom component */
/* @layer components {
  .btn-custom {
    @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
  }
} */
