---
import FormattedDate from '@components/FormattedDate.astro'
import { uiStrings } from '@i18n/uiStrings'
interface Props {
  pubDate: Date
  updatedDate: Date
}
const { pubDate, updatedDate } = Astro.props
const postLastUpdatedOn = `${uiStrings.postLastUpdatedOn[Astro.currentLocale]} `
---

<p>
  <FormattedDate date={pubDate} />
  {
    updatedDate && (
      <span>
        {postLastUpdatedOn} <FormattedDate date={updatedDate} />
      </span>
    )
  }
</p>
