---
import { getTagPath } from '@utilities/tags'
import { uiStrings } from '@i18n/uiStrings'
interface Props {
  tags: string[]
}
const { tags } = Astro.props
const uiString =
  tags.length === 1
    ? uiStrings.tagHeadingSingular[Astro.currentLocale]
    : uiStrings.tagHeadingPlural[Astro.currentLocale]
---

{
  tags.length > 0 && (
    <p class='mt-4'>
      {uiString}:
      {tags.map((tag, index) => (
        <a href={`${getTagPath(Astro.currentLocale, tag)}`}>
          {`${tag}${index < tags.length - 1 ? ', ' : '.'}`}
        </a>
      ))}
    </p>
  )
}
