---
import Html from '@components/Html.astro'
import Header from '@components/Header.astro'
import type { CommonFrontmatter } from '@src/types'

interface Props {
  frontmatter: CommonFrontmatter
}

const { frontmatter } = Astro.props,
  title = frontmatter.title
---

<Html {frontmatter} includeCanonicalMeta={false} />
<Header />
<div class='body mt-4 py-0 px-4 sm:px-8 u-center'>
  <main id='main' class='page'>
    <article class='md-content'>
      <header id='article-header' class='article-header'>
        <h1 class='pb-1'>{title}</h1>
      </header>
      <slot />
    </article>
  </main>
</div>
