---
import MainI18n from '@components/MainI18n.astro'
import type { CommonFrontmatter } from '@src/types'
interface Props {
  frontmatter: CommonFrontmatter
}

const { frontmatter } = Astro.props,
  title = frontmatter?.title || ''
---

<MainI18n {frontmatter} collection='pages'>
  <div class='body mt-4 py-0 px-4 sm:px-8 u-center'>
    <main id='main' class='page'>
      <header id='article-header' class='article-header'>
        <h1 class='pb-1'>{title}</h1>
      </header>
      <div class='md-content'>
        <slot />
      </div>
    </main>
  </div>
</MainI18n>
